@keyframes example {
  from {color: red;}
  to {color: black}
}
.square div {
  font-size: 50px;
  line-height: 1;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 15px);
  animation-name: example;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}
